* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@font-face {
  font-family: myFont;
  src: url(../image/WendyOne-Regular.ttf);
}
.logo-sosmed {
  display: flex;
  background-color: rgb(66, 62, 62);
  height: 60px;
  justify-content: space-between;
}
.mylogo {
  color: white;
  font-family: myFont;
}
.kepanjangan {
  font-style: italic;
  font-size: 12px;
}
.anak-logo-sosmed {
  margin: 12px;
}
.logo {
  display: inline;
}
.img-logo {
  width: 30px;
  margin-right: 20px;
}
.navbar {
  background-color: skyblue;
  display: flex;
  height: 55px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.penampung-opsi {
  padding-top: 2px;
  margin: auto;
}
.opsi-navbar {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}
.opsi {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.link {
  color: black;
}
.search-input {
  height: 40px;
  background: transparent;
  border-bottom: 1px solid black;
  border-radius: 50px;
  padding: 5px;
}
.search-logo {
  width: 20px;
  height: 20px;
}
.menuButton {
  display: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 8px 0px;
}
.allMenu {
  border: 1px solid white;
  display: none;
  background-color: skyblue;
  font-weight: bold;
}
.allMenu > li {
  padding: 10px;
  list-style-type: none;
}
.allMenu > li > a {
  color: white;
}
main {
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}
.container-main {
  background-color: rgb(240, 231, 231);
  display: flex;
  flex-direction: row;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: white;
}
.img-thumbnail {
  width: 400px;
}
.deskripsi {
  padding: 5px;
}
.judul-blog,
.keterangan-pembuatan,
.sinopsis {
  margin-bottom: 10px;
}
.judul-blog > a > h3 {
  color: black;
}
.keterangan-pembuatan {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.keterangan-pembuatan > p {
  font-size: 14px;
  color: grey;
}
.container-penulis {
  display: flex;
}
.penulis {
  width: 300px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 25px;
}
.myfoto {
  margin-top: 5px;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
}
.myname {
  text-align: center;
}
.mydescription {
  text-align: justify;
  font-weight: 12px;
  margin: 12px;
}
footer {
  background-color: skyblue;
  color: rgb(78, 76, 76);
}
.credit {
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.catatankaki {
  padding: 30px;
  text-align: center;
}
/* Media querry*/
@media only screen and (max-width: 1000px) {
  main {
    margin-left: 0;
    margin-right: 0;
  }
  .penampung-opsi {
    display: none;
  }
  .menuButton {
    display: block;
  }
  .card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: white;
  }
  .img-thumbnail {
    width: 300px;
  }
  .keterangan-pembuatan {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .keterangan-pembuatan > p {
    font-size: 10px;
  }
  .penulis {
    width: 225px;
    height: 400px;
    margin: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .container-main {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .container-card {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .container-penulis {
    flex-direction: row;
  }

  .penulis {
    width: 600px;
    height: 300px;
    margin: 10px;
  }
}

@media only screen and (max-width: 660px) {
  .card {
    width: 260px;
    height: 400px;
    margin: 5px;
    background-color: white;
  }
  .img-thumbnail {
    width: 260px;
  }
  .keterangan-pembuatan {
    width: 240px;
    display: flex;
    justify-content: space-between;
  }
  .keterangan-pembuatan > p {
    font-size: 10px;
  }
  .penulis {
    width: 300px;
    height: 300px;
    margin: 5px;
  }
}

@media only screen and (max-width: 414px) {
  .img-logo {
    width: 15px;
    margin-right: 10px;
    padding-top: 10px;
  }
}
